*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.14 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container {
  width: 100%;
}

@media (min-width: 360px) {
  .container {
    max-width: 360px;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1920px;
  }
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.bottom-0 {
  bottom: 0px;
}

.bottom-\[-1\.5rem\] {
  bottom: -1.5rem;
}

.bottom-\[-2\.5rem\] {
  bottom: -2.5rem;
}

.bottom-\[-3\.5rem\] {
  bottom: -3.5rem;
}

.bottom-\[-4rem\] {
  bottom: -4rem;
}

.bottom-\[-6\.5rem\] {
  bottom: -6.5rem;
}

.bottom-\[1\.2rem\] {
  bottom: 1.2rem;
}

.bottom-\[1\.3rem\] {
  bottom: 1.3rem;
}

.bottom-\[5\.063rem\] {
  bottom: 5.063rem;
}

.left-0 {
  left: 0px;
}

.left-\[-4\.438rem\] {
  left: -4.438rem;
}

.left-\[-4\.5rem\] {
  left: -4.5rem;
}

.left-\[-4\.625rem\] {
  left: -4.625rem;
}

.left-\[0\.75rem\] {
  left: 0.75rem;
}

.left-\[1\.563rem\] {
  left: 1.563rem;
}

.left-\[1\.5rem\] {
  left: 1.5rem;
}

.left-\[1\.7rem\] {
  left: 1.7rem;
}

.left-\[27\.938rem\] {
  left: 27.938rem;
}

.left-\[36\%\] {
  left: 36%;
}

.left-\[5\.5rem\] {
  left: 5.5rem;
}

.right-0 {
  right: 0px;
}

.right-\[-3\.188rem\] {
  right: -3.188rem;
}

.right-\[0\.438rem\] {
  right: 0.438rem;
}

.right-\[1\.639rem\] {
  right: 1.639rem;
}

.right-\[14rem\] {
  right: 14rem;
}

.right-\[1rem\] {
  right: 1rem;
}

.right-\[2rem\] {
  right: 2rem;
}

.right-\[6\.375rem\] {
  right: 6.375rem;
}

.right-\[7\.25rem\] {
  right: 7.25rem;
}

.top-0 {
  top: 0px;
}

.top-1\/2 {
  top: 50%;
}

.top-\[-0\.188rem\] {
  top: -0.188rem;
}

.top-\[-0\.9rem\] {
  top: -0.9rem;
}

.top-\[-1\.5\%\] {
  top: -1.5%;
}

.top-\[-1\.6rem\] {
  top: -1.6rem;
}

.top-\[-1\.875rem\] {
  top: -1.875rem;
}

.top-\[-3\.33rem\] {
  top: -3.33rem;
}

.top-\[-3\.393rem\] {
  top: -3.393rem;
}

.top-\[-3\.625rem\] {
  top: -3.625rem;
}

.top-\[-3\.937rem\] {
  top: -3.937rem;
}

.top-\[-3\.938rem\] {
  top: -3.938rem;
}

.top-\[-6\.25rem\] {
  top: -6.25rem;
}

.top-\[0\.438rem\] {
  top: 0.438rem;
}

.top-\[1\.563rem\] {
  top: 1.563rem;
}

.top-\[11\.688rem\] {
  top: 11.688rem;
}

.top-\[1rem\] {
  top: 1rem;
}

.top-\[20\%\] {
  top: 20%;
}

.top-\[22\.5rem\] {
  top: 22.5rem;
}

.top-\[4\.5rem\] {
  top: 4.5rem;
}

.right-\[-3rem\] {
  right: -3rem;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.mx-\[0\.938rem\] {
  margin-left: 0.938rem;
  margin-right: 0.938rem;
}

.mx-\[1\.25rem\] {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-\[0\.5rem\] {
  margin-bottom: 0.5rem;
}

.mb-\[0\.75rem\] {
  margin-bottom: 0.75rem;
}

.mb-\[0\.7rem\] {
  margin-bottom: 0.7rem;
}

.mb-\[1\.5rem\] {
  margin-bottom: 1.5rem;
}

.mb-\[1rem\] {
  margin-bottom: 1rem;
}

.mb-\[2\.5rem\] {
  margin-bottom: 2.5rem;
}

.mb-\[2rem\] {
  margin-bottom: 2rem;
}

.ml-\[0\.75rem\] {
  margin-left: 0.75rem;
}

.mr-0 {
  margin-right: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.mt-\[0\.5rem\] {
  margin-top: 0.5rem;
}

.mt-\[1\.5rem\] {
  margin-top: 1.5rem;
}

.mt-\[2\.5rem\] {
  margin-top: 2.5rem;
}

.mt-\[2rem\] {
  margin-top: 2rem;
}

.mt-\[3\.125rem\] {
  margin-top: 3.125rem;
}

.mt-\[34\.5rem\] {
  margin-top: 34.5rem;
}

.mt-\[4\.5rem\] {
  margin-top: 4.5rem;
}

.mt-\[4rem\] {
  margin-top: 4rem;
}

.mt-\[7\.188rem\] {
  margin-top: 7.188rem;
}

.mt-\[7\.25rem\] {
  margin-top: 7.25rem;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.size-5 {
  width: 1.25rem;
  height: 1.25rem;
}

.size-6 {
  width: 1.5rem;
  height: 1.5rem;
}

.h-\[0\.063rem\] {
  height: 0.063rem;
}

.h-\[1\.25rem\] {
  height: 1.25rem;
}

.h-\[1\.5rem\] {
  height: 1.5rem;
}

.h-\[1\.75rem\] {
  height: 1.75rem;
}

.h-\[11rem\] {
  height: 11rem;
}

.h-\[12\.938rem\] {
  height: 12.938rem;
}

.h-\[14\.625rem\] {
  height: 14.625rem;
}

.h-\[16\.188rem\] {
  height: 16.188rem;
}

.h-\[18\.063rem\] {
  height: 18.063rem;
}

.h-\[19\.625rem\] {
  height: 19.625rem;
}

.h-\[1rem\] {
  height: 1rem;
}

.h-\[2\.125rem\] {
  height: 2.125rem;
}

.h-\[2\.17rem\] {
  height: 2.17rem;
}

.h-\[2\.5rem\] {
  height: 2.5rem;
}

.h-\[2\.625rem\] {
  height: 2.625rem;
}

.h-\[2\.799rem\] {
  height: 2.799rem;
}

.h-\[2\.875rem\] {
  height: 2.875rem;
}

.h-\[2rem\] {
  height: 2rem;
}

.h-\[3\.375rem\] {
  height: 3.375rem;
}

.h-\[3\.563rem\] {
  height: 3.563rem;
}

.h-\[3\.75rem\] {
  height: 3.75rem;
}

.h-\[32\.125rem\] {
  height: 32.125rem;
}

.h-\[39rem\] {
  height: 39rem;
}

.h-\[48\.125rem\] {
  height: 48.125rem;
}

.h-\[78\.25rem\] {
  height: 78.25rem;
}

.h-\[9\.063rem\] {
  height: 9.063rem;
}

.h-full {
  height: 100%;
}

.w-\[1\.25rem\] {
  width: 1.25rem;
}

.w-\[1\.5rem\] {
  width: 1.5rem;
}

.w-\[1\.752\] {
  width: 1.752;
}

.w-\[1\.75rem\] {
  width: 1.75rem;
}

.w-\[10rem\] {
  width: 10rem;
}

.w-\[12\.875rem\] {
  width: 12.875rem;
}

.w-\[13\.125rem\] {
  width: 13.125rem;
}

.w-\[14\.188rem\] {
  width: 14.188rem;
}

.w-\[15\.625rem\] {
  width: 15.625rem;
}

.w-\[15\.688rem\] {
  width: 15.688rem;
}

.w-\[15\.75rem\] {
  width: 15.75rem;
}

.w-\[17\.875rem\] {
  width: 17.875rem;
}

.w-\[19rem\] {
  width: 19rem;
}

.w-\[1rem\] {
  width: 1rem;
}

.w-\[2\.063rem\] {
  width: 2.063rem;
}

.w-\[2\.125rem\] {
  width: 2.125rem;
}

.w-\[2\.5rem\] {
  width: 2.5rem;
}

.w-\[20\.625rem\] {
  width: 20.625rem;
}

.w-\[208px\] {
  width: 208px;
}

.w-\[215px\] {
  width: 215px;
}

.w-\[3\.563rem\] {
  width: 3.563rem;
}

.w-\[3\.75rem\] {
  width: 3.75rem;
}

.w-\[4\.313rem\] {
  width: 4.313rem;
}

.w-\[4rem\] {
  width: 4rem;
}

.w-\[5\.188rem\] {
  width: 5.188rem;
}

.w-\[5\.5rem\] {
  width: 5.5rem;
}

.w-\[6\.25rem\] {
  width: 6.25rem;
}

.w-\[6\.5rem\] {
  width: 6.5rem;
}

.w-\[7\.5rem\] {
  width: 7.5rem;
}

.w-\[72\.063rem\] {
  width: 72.063rem;
}

.w-\[8\.125rem\] {
  width: 8.125rem;
}

.w-full {
  width: 100%;
}

.max-w-\[13\.125rem\] {
  max-width: 13.125rem;
}

.max-w-\[18rem\] {
  max-width: 18rem;
}

.max-w-\[20\.813rem\] {
  max-width: 20.813rem;
}

.max-w-\[30rem\] {
  max-width: 30rem;
}

.max-w-\[35\.438rem\] {
  max-width: 35.438rem;
}

.max-w-\[37rem\] {
  max-width: 37rem;
}

.max-w-\[41\.188rem\] {
  max-width: 41.188rem;
}

.max-w-\[48\.5rem\] {
  max-width: 48.5rem;
}

.max-w-\[9\.563rem\] {
  max-width: 9.563rem;
}

.max-w-none {
  max-width: none;
}

.-rotate-\[180deg\] {
  --tw-rotate: -180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-0 {
  --tw-rotate: 0deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-90 {
  --tw-rotate: 90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-\[180deg\] {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scale-100 {
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer {
  cursor: pointer;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.gap-0 {
  gap: 0px;
}

.gap-\[0\.25rem\] {
  gap: 0.25rem;
}

.gap-\[0\.482rem\] {
  gap: 0.482rem;
}

.gap-\[0\.55rem\] {
  gap: 0.55rem;
}

.gap-\[0\.5rem\] {
  gap: 0.5rem;
}

.gap-\[0\.75rem\] {
  gap: 0.75rem;
}

.gap-\[1\.25rem\] {
  gap: 1.25rem;
}

.gap-\[1\.5rem\] {
  gap: 1.5rem;
}

.gap-\[13\.5rem\] {
  gap: 13.5rem;
}

.gap-\[1rem\] {
  gap: 1rem;
}

.gap-\[2rem\] {
  gap: 2rem;
}

.gap-\[4rem\] {
  gap: 4rem;
}

.space-x-\[0\.5rem\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.overflow-hidden {
  overflow: hidden;
}

.rounded-\[0\.313rem\] {
  border-radius: 0.313rem;
}

.rounded-\[0\.603rem\] {
  border-radius: 0.603rem;
}

.rounded-\[0\.625rem\] {
  border-radius: 0.625rem;
}

.rounded-\[0\.938rem\] {
  border-radius: 0.938rem;
}

.rounded-\[1\.25rem\] {
  border-radius: 1.25rem;
}

.rounded-\[1\.438rem\] {
  border-radius: 1.438rem;
}

.rounded-\[1\.688rem\] {
  border-radius: 1.688rem;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-t-\[0\.938rem\] {
  border-top-left-radius: 0.938rem;
  border-top-right-radius: 0.938rem;
}

.border-\[0\.063rem\] {
  border-width: 0.063rem;
}

.border-\[0\.125rem\] {
  border-width: 0.125rem;
}

.border-\[0\.5rem\] {
  border-width: 0.5rem;
}

.border-none {
  border-style: none;
}

.border-\[\#FFC700\] {
  --tw-border-opacity: 1;
  border-color: rgb(255 199 0 / var(--tw-border-opacity));
}

.border-\[\#FFFFFF\] {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.bg-\[\#0A9949\] {
  --tw-bg-opacity: 1;
  background-color: rgb(10 153 73 / var(--tw-bg-opacity));
}

.bg-\[\#FFFFFF\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-\[\#cecaca42\] {
  background-color: #cecaca42;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-gradient-to-b {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}

.bg-gradient-to-br {
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
}

.bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.from-\[\#16A085\] {
  --tw-gradient-from: #16A085 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(22 160 133 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-\[\#3EED8B\] {
  --tw-gradient-from: #3EED8B var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(62 237 139 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-\[\#FFB464\] {
  --tw-gradient-from: #FFB464 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 180 100 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-\[\#FFB469\] {
  --tw-gradient-from: #FFB469 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 180 105 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-\[\#0A9949\] {
  --tw-gradient-to: #0A9949 var(--tw-gradient-to-position);
}

.to-\[\#E57709\] {
  --tw-gradient-to: #E57709 var(--tw-gradient-to-position);
}

.to-\[\#F4D03F\] {
  --tw-gradient-to: #F4D03F var(--tw-gradient-to-position);
}

.bg-clip-text {
  -webkit-background-clip: text;
          background-clip: text;
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.px-\[0\.5rem\] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-\[0\.625rem\] {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.px-\[0\.938rem\] {
  padding-left: 0.938rem;
  padding-right: 0.938rem;
}

.px-\[1rem\] {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-\[0\.625rem\] {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.py-\[0\.688rem\] {
  padding-top: 0.688rem;
  padding-bottom: 0.688rem;
}

.py-\[0\.875rem\] {
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
}

.py-\[1\.25rem\] {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-\[1\.313rem\] {
  padding-top: 1.313rem;
  padding-bottom: 1.313rem;
}

.py-\[1rem\] {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pb-\[1rem\] {
  padding-bottom: 1rem;
}

.pl-\[0\.875rem\] {
  padding-left: 0.875rem;
}

.pl-\[1\.5rem\] {
  padding-left: 1.5rem;
}

.pr-\[0\.938rem\] {
  padding-right: 0.938rem;
}

.pr-\[1rem\] {
  padding-right: 1rem;
}

.pt-0 {
  padding-top: 0px;
}

.pt-\[2rem\] {
  padding-top: 2rem;
}

.pt-\[4\.688rem\] {
  padding-top: 4.688rem;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.font-allura {
  font-family: Allura, cursive;
}

.font-lato {
  font-family: Lato, sans-serif;
}

.text-\[0\.563rem\] {
  font-size: 0.563rem;
}

.text-\[0\.625rem\] {
  font-size: 0.625rem;
}

.text-\[0\.75rem\] {
  font-size: 0.75rem;
}

.text-\[0\.813rem\] {
  font-size: 0.813rem;
}

.text-\[0\.875rem\] {
  font-size: 0.875rem;
}

.text-\[1\.125rem\] {
  font-size: 1.125rem;
}

.text-\[1\.25rem\] {
  font-size: 1.25rem;
}

.text-\[1rem\] {
  font-size: 1rem;
}

.text-\[2rem\] {
  font-size: 2rem;
}

.font-\[400\] {
  font-weight: 400;
}

.font-\[600\] {
  font-weight: 600;
}

.font-\[700\] {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.leading-\[1\.2rem\] {
  line-height: 1.2rem;
}

.leading-\[1\.75rem\] {
  line-height: 1.75rem;
}

.tracking-\[0\.188rem\] {
  letter-spacing: 0.188rem;
}

.text-\[\#252525\] {
  --tw-text-opacity: 1;
  color: rgb(37 37 37 / var(--tw-text-opacity));
}

.text-\[\#454545\] {
  --tw-text-opacity: 1;
  color: rgb(69 69 69 / var(--tw-text-opacity));
}

.text-\[\#E57709\] {
  --tw-text-opacity: 1;
  color: rgb(229 119 9 / var(--tw-text-opacity));
}

.text-\[\#FFFFFF\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-\[\#FFF\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-\[\#ffffff\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-transparent {
  color: transparent;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hover\:bg-gradient-to-b:hover {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}

.hover\:bg-gradient-to-br:hover {
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
}

.hover\:from-\[\#6FF7A4\]:hover {
  --tw-gradient-from: #6FF7A4 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(111 247 164 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.hover\:from-\[\#FFD27A\]:hover {
  --tw-gradient-from: #FFD27A var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 210 122 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.hover\:to-\[\#3BAF73\]:hover {
  --tw-gradient-to: #3BAF73 var(--tw-gradient-to-position);
}

.hover\:to-\[\#FF9B30\]:hover {
  --tw-gradient-to: #FF9B30 var(--tw-gradient-to-position);
}

@media (min-width: 360px) {
  .xs\:items-start {
    align-items: flex-start;
  }

  .xs\:text-\[0\.813rem\] {
    font-size: 0.813rem;
  }
}

@media (min-width: 640px) {
  .sm\:bottom-\[-3\.125rem\] {
    bottom: -3.125rem;
  }

  .sm\:bottom-\[-4rem\] {
    bottom: -4rem;
  }

  .sm\:bottom-\[2\.8rem\] {
    bottom: 2.8rem;
  }

  .sm\:bottom-\[3\.7rem\] {
    bottom: 3.7rem;
  }

  .sm\:left-\[-0\.25rem\] {
    left: -0.25rem;
  }

  .sm\:left-\[-16\.625rem\] {
    left: -16.625rem;
  }

  .sm\:left-\[-20\.438rem\] {
    left: -20.438rem;
  }

  .sm\:left-\[-22rem\] {
    left: -22rem;
  }

  .sm\:left-\[-60\%\] {
    left: -60%;
  }

  .sm\:left-\[6\.5rem\] {
    left: 6.5rem;
  }

  .sm\:left-\[6\.713rem\] {
    left: 6.713rem;
  }

  .sm\:right-0 {
    right: 0px;
  }

  .sm\:right-\[3\.75rem\] {
    right: 3.75rem;
  }

  .sm\:right-\[39rem\] {
    right: 39rem;
  }

  .sm\:right-\[40\.5rem\] {
    right: 40.5rem;
  }

  .sm\:top-0 {
    top: 0px;
  }

  .sm\:top-3\/4 {
    top: 75%;
  }

  .sm\:top-\[-0\.25rem\] {
    top: -0.25rem;
  }

  .sm\:top-\[-1\.625rem\] {
    top: -1.625rem;
  }

  .sm\:top-\[-1\.937rem\] {
    top: -1.937rem;
  }

  .sm\:top-\[3\.563rem\] {
    top: 3.563rem;
  }

  .sm\:mx-\[2\.5rem\] {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

  .sm\:mb-\[1\.49rem\] {
    margin-bottom: 1.49rem;
  }

  .sm\:mb-\[1\.554rem\] {
    margin-bottom: 1.554rem;
  }

  .sm\:mb-\[1\.5rem\] {
    margin-bottom: 1.5rem;
  }

  .sm\:ml-\[1rem\] {
    margin-left: 1rem;
  }

  .sm\:mt-\[-5rem\] {
    margin-top: -5rem;
  }

  .sm\:mt-\[0\.5rem\] {
    margin-top: 0.5rem;
  }

  .sm\:mt-\[11\.25rem\] {
    margin-top: 11.25rem;
  }

  .sm\:mt-\[1rem\] {
    margin-top: 1rem;
  }

  .sm\:mt-\[2\.5rem\] {
    margin-top: 2.5rem;
  }

  .sm\:mt-\[3\.5rem\] {
    margin-top: 3.5rem;
  }

  .sm\:mt-\[4rem\] {
    margin-top: 4rem;
  }

  .sm\:mt-\[6\.813rem\] {
    margin-top: 6.813rem;
  }

  .sm\:mt-\[68\.5rem\] {
    margin-top: 68.5rem;
  }

  .sm\:flex {
    display: flex;
  }

  .sm\:hidden {
    display: none;
  }

  .sm\:h-\[1\.5rem\] {
    height: 1.5rem;
  }

  .sm\:h-\[2\.25rem\] {
    height: 2.25rem;
  }

  .sm\:h-\[2\.875rem\] {
    height: 2.875rem;
  }

  .sm\:h-\[29\.188rem\] {
    height: 29.188rem;
  }

  .sm\:h-\[32\.063rem\] {
    height: 32.063rem;
  }

  .sm\:h-\[35\.625rem\] {
    height: 35.625rem;
  }

  .sm\:h-\[38\.125rem\] {
    height: 38.125rem;
  }

  .sm\:h-\[4\.563rem\] {
    height: 4.563rem;
  }

  .sm\:h-\[49\.313rem\] {
    height: 49.313rem;
  }

  .sm\:h-\[56\.125rem\] {
    height: 56.125rem;
  }

  .sm\:w-\[1\.5rem\] {
    width: 1.5rem;
  }

  .sm\:w-\[10\.625rem\] {
    width: 10.625rem;
  }

  .sm\:w-\[10rem\] {
    width: 10rem;
  }

  .sm\:w-\[17rem\] {
    width: 17rem;
  }

  .sm\:w-\[19\.313rem\] {
    width: 19.313rem;
  }

  .sm\:w-\[2\.25rem\] {
    width: 2.25rem;
  }

  .sm\:w-\[20rem\] {
    width: 20rem;
  }

  .sm\:w-\[21\.875rem\] {
    width: 21.875rem;
  }

  .sm\:w-\[22rem\] {
    width: 22rem;
  }

  .sm\:w-\[24\.063rem\] {
    width: 24.063rem;
  }

  .sm\:w-\[25\.063rem\] {
    width: 25.063rem;
  }

  .sm\:w-\[28\.688rem\] {
    width: 28.688rem;
  }

  .sm\:w-\[28\.75rem\] {
    width: 28.75rem;
  }

  .sm\:w-\[36rem\] {
    width: 36rem;
  }

  .sm\:w-\[4\.563rem\] {
    width: 4.563rem;
  }

  .sm\:w-\[5\.5rem\] {
    width: 5.5rem;
  }

  .sm\:max-w-\[11\.563rem\] {
    max-width: 11.563rem;
  }

  .sm\:max-w-\[17\.125rem\] {
    max-width: 17.125rem;
  }

  .sm\:max-w-\[17rem\] {
    max-width: 17rem;
  }

  .sm\:max-w-\[19\.313rem\] {
    max-width: 19.313rem;
  }

  .sm\:max-w-\[20rem\] {
    max-width: 20rem;
  }

  .sm\:max-w-\[30rem\] {
    max-width: 30rem;
  }

  .sm\:rotate-90 {
    --tw-rotate: 90deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .sm\:scale-100 {
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .sm\:justify-start {
    justify-content: flex-start;
  }

  .sm\:justify-center {
    justify-content: center;
  }

  .sm\:gap-\[1\.188rem\] {
    gap: 1.188rem;
  }

  .sm\:gap-\[1\.5rem\] {
    gap: 1.5rem;
  }

  .sm\:gap-\[1\.6rem\] {
    gap: 1.6rem;
  }

  .sm\:gap-\[2rem\] {
    gap: 2rem;
  }

  .sm\:gap-\[30px\] {
    gap: 30px;
  }

  .sm\:gap-\[3rem\] {
    gap: 3rem;
  }

  .sm\:gap-\[5\.5rem\] {
    gap: 5.5rem;
  }

  .sm\:space-x-\[0\.5rem\] > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.5rem * var(--tw-space-x-reverse));
    margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
  }

  .sm\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .sm\:px-\[0\.938rem\] {
    padding-left: 0.938rem;
    padding-right: 0.938rem;
  }

  .sm\:px-\[2\.063rem\] {
    padding-left: 2.063rem;
    padding-right: 2.063rem;
  }

  .sm\:py-\[1\.125rem\] {
    padding-top: 1.125rem;
    padding-bottom: 1.125rem;
  }

  .sm\:py-\[2\.5rem\] {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .sm\:pr-0 {
    padding-right: 0px;
  }

  .sm\:pt-\[7\.5rem\] {
    padding-top: 7.5rem;
  }

  .sm\:text-start {
    text-align: start;
  }

  .sm\:text-\[0\.75rem\] {
    font-size: 0.75rem;
  }

  .sm\:text-\[0\.875rem\] {
    font-size: 0.875rem;
  }

  .sm\:text-\[1\.25rem\] {
    font-size: 1.25rem;
  }

  .sm\:text-\[1\.375rem\] {
    font-size: 1.375rem;
  }

  .sm\:text-\[1\.5rem\] {
    font-size: 1.5rem;
  }

  .sm\:text-\[1rem\] {
    font-size: 1rem;
  }

  .sm\:text-\[2\.375rem\] {
    font-size: 2.375rem;
  }

  .sm\:text-\[2rem\] {
    font-size: 2rem;
  }

  .sm\:text-\[3\.375rem\] {
    font-size: 3.375rem;
  }

  .sm\:leading-\[2\.85rem\] {
    line-height: 2.85rem;
  }

  .sm\:leading-\[2\.875rem\] {
    line-height: 2.875rem;
  }
}

@media (min-width: 768px) {
  .md\:absolute {
    position: absolute;
  }

  .md\:bottom-0 {
    bottom: 0px;
  }

  .md\:bottom-\[-0\.4rem\] {
    bottom: -0.4rem;
  }

  .md\:bottom-\[-1\.1rem\] {
    bottom: -1.1rem;
  }

  .md\:bottom-\[-7\.188rem\] {
    bottom: -7.188rem;
  }

  .md\:bottom-\[0\.25rem\] {
    bottom: 0.25rem;
  }

  .md\:left-0 {
    left: 0px;
  }

  .md\:left-\[-0\.625rem\] {
    left: -0.625rem;
  }

  .md\:left-\[-14\.625rem\] {
    left: -14.625rem;
  }

  .md\:left-\[-15rem\] {
    left: -15rem;
  }

  .md\:left-\[-22\.438rem\] {
    left: -22.438rem;
  }

  .md\:left-\[-23\.375rem\] {
    left: -23.375rem;
  }

  .md\:left-\[20\%\] {
    left: 20%;
  }

  .md\:right-\[0\.25rem\] {
    right: 0.25rem;
  }

  .md\:right-\[13\.5rem\] {
    right: 13.5rem;
  }

  .md\:right-\[5rem\] {
    right: 5rem;
  }

  .md\:top-\[-3rem\] {
    top: -3rem;
  }

  .md\:top-\[-4\.25rem\] {
    top: -4.25rem;
  }

  .md\:top-\[-9\.937rem\] {
    top: -9.937rem;
  }

  .md\:top-\[0\.25rem\] {
    top: 0.25rem;
  }

  .md\:top-\[6\%\] {
    top: 6%;
  }

  .md\:left-\[19\%\] {
    left: 19%;
  }

  .md\:mb-\[2\.5rem\] {
    margin-bottom: 2.5rem;
  }

  .md\:mt-0 {
    margin-top: 0px;
  }

  .md\:flex {
    display: flex;
  }

  .md\:h-\[35\.188rem\] {
    height: 35.188rem;
  }

  .md\:h-\[40\.063rem\] {
    height: 40.063rem;
  }

  .md\:h-\[42\.625rem\] {
    height: 42.625rem;
  }

  .md\:h-\[44rem\] {
    height: 44rem;
  }

  .md\:h-\[47\.25rem\] {
    height: 47.25rem;
  }

  .md\:w-\[12\.313rem\] {
    width: 12.313rem;
  }

  .md\:w-\[13\.438rem\] {
    width: 13.438rem;
  }

  .md\:w-\[14\.313rem\] {
    width: 14.313rem;
  }

  .md\:w-\[14\.375rem\] {
    width: 14.375rem;
  }

  .md\:w-\[14\.38rem\] {
    width: 14.38rem;
  }

  .md\:w-\[15\.625rem\] {
    width: 15.625rem;
  }

  .md\:w-\[15rem\] {
    width: 15rem;
  }

  .md\:w-\[20\.5rem\] {
    width: 20.5rem;
  }

  .md\:w-\[26\.5rem\] {
    width: 26.5rem;
  }

  .md\:w-\[28rem\] {
    width: 28rem;
  }

  .md\:w-\[33\.75rem\] {
    width: 33.75rem;
  }

  .md\:w-\[35\.5rem\] {
    width: 35.5rem;
  }

  .md\:w-\[35\.688rem\] {
    width: 35.688rem;
  }

  .md\:w-\[44rem\] {
    width: 44rem;
  }

  .md\:max-w-\[14\.313rem\] {
    max-width: 14.313rem;
  }

  .md\:max-w-\[21\.125rem\] {
    max-width: 21.125rem;
  }

  .md\:max-w-\[26\.5rem\] {
    max-width: 26.5rem;
  }

  .md\:max-w-\[28rem\] {
    max-width: 28rem;
  }

  .md\:rotate-0 {
    --tw-rotate: 0deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .md\:rotate-\[-109deg\] {
    --tw-rotate: -109deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .md\:rotate-\[-163deg\] {
    --tw-rotate: -163deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .md\:rotate-\[-17deg\] {
    --tw-rotate: -17deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .md\:rotate-\[-35deg\] {
    --tw-rotate: -35deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .md\:rotate-\[107deg\] {
    --tw-rotate: 107deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .md\:rotate-\[126deg\] {
    --tw-rotate: 126deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .md\:rotate-\[180deg\] {
    --tw-rotate: 180deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .md\:rotate-\[34deg\] {
    --tw-rotate: 34deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .md\:rotate-\[54deg\] {
    --tw-rotate: 54deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .md\:rotate-\[90deg\] {
    --tw-rotate: 90deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .md\:scale-\[0\.6\] {
    --tw-scale-x: 0.6;
    --tw-scale-y: 0.6;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:flex-col {
    flex-direction: column;
  }

  .md\:items-end {
    align-items: flex-end;
  }

  .md\:justify-end {
    justify-content: flex-end;
  }

  .md\:justify-between {
    justify-content: space-between;
  }

  .md\:gap-0 {
    gap: 0px;
  }

  .md\:gap-\[1\.299rem\] {
    gap: 1.299rem;
  }

  .md\:gap-\[1rem\] {
    gap: 1rem;
  }

  .md\:px-\[1\.438rem\] {
    padding-left: 1.438rem;
    padding-right: 1.438rem;
  }

  .md\:pt-\[15\.625rem\] {
    padding-top: 15.625rem;
  }

  .md\:pt-\[4\.5rem\] {
    padding-top: 4.5rem;
  }

  .md\:pt-\[8\.5rem\] {
    padding-top: 8.5rem;
  }

  .md\:text-center {
    text-align: center;
  }

  .md\:text-end {
    text-align: end;
  }

  .md\:text-\[1\.125rem\] {
    font-size: 1.125rem;
  }

  .md\:text-\[1rem\] {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .lg\:bottom-\[-0\.6rem\] {
    bottom: -0.6rem;
  }

  .lg\:bottom-\[-2\.188rem\] {
    bottom: -2.188rem;
  }

  .lg\:left-\[-17\.625rem\] {
    left: -17.625rem;
  }

  .lg\:left-\[-23\.438rem\] {
    left: -23.438rem;
  }

  .lg\:left-\[-26\.25rem\] {
    left: -26.25rem;
  }

  .lg\:left-\[18\%\] {
    left: 18%;
  }

  .lg\:left-\[19\.5rem\] {
    left: 19.5rem;
  }

  .lg\:right-\[15\.5rem\] {
    right: 15.5rem;
  }

  .lg\:top-\[-1\.563rem\] {
    top: -1.563rem;
  }

  .lg\:top-\[-1rem\] {
    top: -1rem;
  }

  .lg\:top-\[-56\%\] {
    top: -56%;
  }

  .lg\:top-\[-7\.25rem\] {
    top: -7.25rem;
  }

  .lg\:top-\[4\.063rem\] {
    top: 4.063rem;
  }

  .lg\:top-\[6rem\] {
    top: 6rem;
  }

  .lg\:mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .lg\:mb-\[2\.5rem\] {
    margin-bottom: 2.5rem;
  }

  .lg\:mt-\[4\.063rem\] {
    margin-top: 4.063rem;
  }

  .lg\:mt-\[5\.5rem\] {
    margin-top: 5.5rem;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:h-\[33\.25rem\] {
    height: 33.25rem;
  }

  .lg\:h-\[70\.125rem\] {
    height: 70.125rem;
  }

  .lg\:w-4\/5 {
    width: 80%;
  }

  .lg\:w-\[14\.5rem\] {
    width: 14.5rem;
  }

  .lg\:w-\[23\.313rem\] {
    width: 23.313rem;
  }

  .lg\:w-\[284px\] {
    width: 284px;
  }

  .lg\:w-\[45rem\] {
    width: 45rem;
  }

  .lg\:max-w-\[14\.5rem\] {
    max-width: 14.5rem;
  }

  .lg\:max-w-\[23\.313rem\] {
    max-width: 23.313rem;
  }

  .lg\:max-w-\[27\.375rem\] {
    max-width: 27.375rem;
  }

  .lg\:max-w-\[43\.75rem\] {
    max-width: 43.75rem;
  }

  .lg\:max-w-none {
    max-width: none;
  }

  .lg\:rotate-0 {
    --tw-rotate: 0deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lg\:rotate-90 {
    --tw-rotate: 90deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lg\:rotate-\[-75deg\] {
    --tw-rotate: -75deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lg\:rotate-\[0deg\] {
    --tw-rotate: 0deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lg\:rotate-\[126deg\] {
    --tw-rotate: 126deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lg\:rotate-\[162deg\] {
    --tw-rotate: 162deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lg\:rotate-\[18deg\] {
    --tw-rotate: 18deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lg\:rotate-\[35deg\] {
    --tw-rotate: 35deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lg\:rotate-\[75deg\] {
    --tw-rotate: 75deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lg\:scale-\[0\.65\] {
    --tw-scale-x: 0.65;
    --tw-scale-y: 0.65;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lg\:scale-\[0\.64\] {
    --tw-scale-x: 0.64;
    --tw-scale-y: 0.64;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lg\:flex-nowrap {
    flex-wrap: nowrap;
  }

  .lg\:items-start {
    align-items: flex-start;
  }

  .lg\:gap-\[0\.75rem\] {
    gap: 0.75rem;
  }

  .lg\:gap-\[1\.25rem\] {
    gap: 1.25rem;
  }

  .lg\:gap-\[1rem\] {
    gap: 1rem;
  }

  .lg\:gap-\[6rem\] {
    gap: 6rem;
  }

  .lg\:gap-\[7\.5rem\] {
    gap: 7.5rem;
  }

  .lg\:pt-0 {
    padding-top: 0px;
  }

  .lg\:text-start {
    text-align: start;
  }

  .lg\:text-\[1\.125rem\] {
    font-size: 1.125rem;
  }

  .lg\:text-\[1\.25rem\] {
    font-size: 1.25rem;
  }

  .lg\:text-\[1rem\] {
    font-size: 1rem;
  }

  .lg\:text-\[2\.375rem\] {
    font-size: 2.375rem;
  }

  .lg\:text-\[28px\] {
    font-size: 28px;
  }

  .lg\:text-\[3\.5rem\] {
    font-size: 3.5rem;
  }
}

@media (min-width: 1280px) {
  .xl\:absolute {
    position: absolute;
  }

  .xl\:-left-1\/2 {
    left: -50%;
  }

  .xl\:bottom-\[-0\.7rem\] {
    bottom: -0.7rem;
  }

  .xl\:bottom-\[-5\.5rem\] {
    bottom: -5.5rem;
  }

  .xl\:bottom-\[-5rem\] {
    bottom: -5rem;
  }

  .xl\:bottom-\[0\.57rem\] {
    bottom: 0.57rem;
  }

  .xl\:left-0 {
    left: 0px;
  }

  .xl\:left-\[-10\.5rem\] {
    left: -10.5rem;
  }

  .xl\:left-\[24\.7\%\] {
    left: 24.7%;
  }

  .xl\:top-\[-2\.688rem\] {
    top: -2.688rem;
  }

  .xl\:top-\[-46\%\] {
    top: -46%;
  }

  .xl\:top-\[7\.5rem\] {
    top: 7.5rem;
  }

  .xl\:top-\[83\%\] {
    top: 83%;
  }

  .xl\:mx-\[6\.25rem\] {
    margin-left: 6.25rem;
    margin-right: 6.25rem;
  }

  .xl\:mt-0 {
    margin-top: 0px;
  }

  .xl\:mt-\[13\.813rem\] {
    margin-top: 13.813rem;
  }

  .xl\:mt-\[70\.5rem\] {
    margin-top: 70.5rem;
  }

  .xl\:mt-\[8rem\] {
    margin-top: 8rem;
  }

  .xl\:flex {
    display: flex;
  }

  .xl\:hidden {
    display: none;
  }

  .xl\:h-\[39\.25rem\] {
    height: 39.25rem;
  }

  .xl\:h-\[41\.188rem\] {
    height: 41.188rem;
  }

  .xl\:w-\[43rem\] {
    width: 43rem;
  }

  .xl\:w-\[44rem\] {
    width: 44rem;
  }

  .xl\:max-w-\[31\.75rem\] {
    max-width: 31.75rem;
  }

  .xl\:max-w-\[35\.5rem\] {
    max-width: 35.5rem;
  }

  .xl\:max-w-\[37rem\] {
    max-width: 37rem;
  }

  .xl\:max-w-\[40\.5rem\] {
    max-width: 40.5rem;
  }

  .xl\:max-w-\[47\.938rem\] {
    max-width: 47.938rem;
  }

  .xl\:max-w-\[48rem\] {
    max-width: 48rem;
  }

  .xl\:max-w-\[60\.5rem\] {
    max-width: 60.5rem;
  }

  .xl\:scale-\[0\.78\] {
    --tw-scale-x: 0.78;
    --tw-scale-y: 0.78;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .xl\:flex-row {
    flex-direction: row;
  }

  .xl\:flex-col {
    flex-direction: column;
  }

  .xl\:items-center {
    align-items: center;
  }

  .xl\:justify-center {
    justify-content: center;
  }

  .xl\:gap-\[1\.25rem\] {
    gap: 1.25rem;
  }

  .xl\:gap-\[2\.25rem\] {
    gap: 2.25rem;
  }

  .xl\:gap-\[5\.5rem\] {
    gap: 5.5rem;
  }

  .xl\:bg-transparent {
    background-color: transparent;
  }

  .xl\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .xl\:pl-\[0\.375rem\] {
    padding-left: 0.375rem;
  }

  .xl\:pr-\[0\.75rem\] {
    padding-right: 0.75rem;
  }

  .xl\:pt-\[12\.5rem\] {
    padding-top: 12.5rem;
  }

  .xl\:text-\[0\.813rem\] {
    font-size: 0.813rem;
  }
}

@media (min-width: 1536px) {
  @media (min-width: 1280px) {
    .\32xl\:xl\:gap-\[12\.5rem\] {
      gap: 12.5rem;
    }
  }

  .\32xl\:bottom-\[-3\.5rem\] {
    bottom: -3.5rem;
  }

  .\32xl\:bottom-\[0\.7rem\] {
    bottom: 0.7rem;
  }

  .\32xl\:bottom-\[0\.863rem\] {
    bottom: 0.863rem;
  }

  .\32xl\:bottom-\[4rem\] {
    bottom: 4rem;
  }

  .\32xl\:left-\[-3rem\] {
    left: -3rem;
  }

  .\32xl\:left-\[28\%\] {
    left: 28%;
  }

  .\32xl\:left-\[32\.375rem\] {
    left: 32.375rem;
  }

  .\32xl\:left-\[51\.375rem\] {
    left: 51.375rem;
  }

  .\32xl\:left-\[5rem\] {
    left: 5rem;
  }

  .\32xl\:right-\[15\.375rem\] {
    right: 15.375rem;
  }

  .\32xl\:right-\[4rem\] {
    right: 4rem;
  }

  .\32xl\:top-0 {
    top: 0px;
  }

  .\32xl\:top-1\/4 {
    top: 25%;
  }

  .\32xl\:top-\[-0\.5rem\] {
    top: -0.5rem;
  }

  .\32xl\:top-\[-4\.25rem\] {
    top: -4.25rem;
  }

  .\32xl\:top-\[1\.625rem\] {
    top: 1.625rem;
  }

  .\32xl\:top-\[2\.438rem\] {
    top: 2.438rem;
  }

  .\32xl\:bottom-\[-0\.3rem\] {
    bottom: -0.3rem;
  }

  .\32xl\:mr-\[-7\.063rem\] {
    margin-right: -7.063rem;
  }

  .\32xl\:mt-0 {
    margin-top: 0px;
  }

  .\32xl\:mt-\[0\.75rem\] {
    margin-top: 0.75rem;
  }

  .\32xl\:mt-\[1\.5rem\] {
    margin-top: 1.5rem;
  }

  .\32xl\:mt-\[4rem\] {
    margin-top: 4rem;
  }

  .\32xl\:mt-\[5\.5rem\] {
    margin-top: 5.5rem;
  }

  .\32xl\:mt-\[9rem\] {
    margin-top: 9rem;
  }

  .\32xl\:flex {
    display: flex;
  }

  .\32xl\:hidden {
    display: none;
  }

  .\32xl\:h-\[31\.125rem\] {
    height: 31.125rem;
  }

  .\32xl\:h-\[39\.125rem\] {
    height: 39.125rem;
  }

  .\32xl\:h-\[4\.563rem\] {
    height: 4.563rem;
  }

  .\32xl\:h-\[48\.625rem\] {
    height: 48.625rem;
  }

  .\32xl\:h-\[5\.438rem\] {
    height: 5.438rem;
  }

  .\32xl\:h-\[50\.063rem\] {
    height: 50.063rem;
  }

  .\32xl\:w-\[13\.438rem\] {
    width: 13.438rem;
  }

  .\32xl\:w-\[39\.75rem\] {
    width: 39.75rem;
  }

  .\32xl\:w-\[4\.375rem\] {
    width: 4.375rem;
  }

  .\32xl\:w-\[45\.688rem\] {
    width: 45.688rem;
  }

  .\32xl\:w-\[8\.25rem\] {
    width: 8.25rem;
  }

  .\32xl\:w-\[72\.063rem\] {
    width: 72.063rem;
  }

  .\32xl\:max-w-\[25\.375rem\] {
    max-width: 25.375rem;
  }

  .\32xl\:max-w-\[40\.938rem\] {
    max-width: 40.938rem;
  }

  .\32xl\:max-w-\[41\.5rem\] {
    max-width: 41.5rem;
  }

  .\32xl\:flex-row {
    flex-direction: row;
  }

  .\32xl\:flex-col {
    flex-direction: column;
  }

  .\32xl\:flex-nowrap {
    flex-wrap: nowrap;
  }

  .\32xl\:gap-0 {
    gap: 0px;
  }

  .\32xl\:gap-\[1\.5rem\] {
    gap: 1.5rem;
  }

  .\32xl\:gap-\[2\.75rem\] {
    gap: 2.75rem;
  }

  .\32xl\:gap-\[2rem\] {
    gap: 2rem;
  }

  .\32xl\:gap-\[3\.5rem\] {
    gap: 3.5rem;
  }

  .\32xl\:gap-\[3rem\] {
    gap: 3rem;
  }

  .\32xl\:gap-\[8\.188rem\] {
    gap: 8.188rem;
  }

  .\32xl\:pl-\[0\.938rem\] {
    padding-left: 0.938rem;
  }

  .\32xl\:pr-0 {
    padding-right: 0px;
  }

  .\32xl\:pt-\[6\.25rem\] {
    padding-top: 6.25rem;
  }

  .\32xl\:text-\[1rem\] {
    font-size: 1rem;
  }

  .\32xl\:text-\[3\.5rem\] {
    font-size: 3.5rem;
  }
}

@media (min-width: 1920px) {
  .\33xl\:-top-\[51\%\] {
    top: -51%;
  }

  .\33xl\:bottom-\[1\.238rem\] {
    bottom: 1.238rem;
  }

  .\33xl\:bottom-\[7rem\] {
    bottom: 7rem;
  }

  .\33xl\:left-1\/3 {
    left: 33.333333%;
  }

  .\33xl\:left-\[-4\.5rem\] {
    left: -4.5rem;
  }

  .\33xl\:left-\[1\.575rem\] {
    left: 1.575rem;
  }

  .\33xl\:left-\[16rem\] {
    left: 16rem;
  }

  .\33xl\:left-\[47\.375rem\] {
    left: 47.375rem;
  }

  .\33xl\:right-\[16rem\] {
    right: 16rem;
  }

  .\33xl\:right-\[7rem\] {
    right: 7rem;
  }

  .\33xl\:right-\[8\.75rem\] {
    right: 8.75rem;
  }

  .\33xl\:top-\[-5\.688rem\] {
    top: -5.688rem;
  }

  .\33xl\:top-\[12\.25rem\] {
    top: 12.25rem;
  }

  .\33xl\:top-\[3\.438rem\] {
    top: 3.438rem;
  }

  .\33xl\:mx-\[16rem\] {
    margin-left: 16rem;
    margin-right: 16rem;
  }

  .\33xl\:flex {
    display: flex;
  }

  .\33xl\:scale-100 {
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .\33xl\:gap-\[2\.5rem\] {
    gap: 2.5rem;
  }

  .\33xl\:gap-\[3\.5rem\] {
    gap: 3.5rem;
  }

  .\33xl\:gap-\[4\.875rem\] {
    gap: 4.875rem;
  }

  .\33xl\:gap-\[6\.75rem\] {
    gap: 6.75rem;
  }

  .\33xl\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .\33xl\:pl-0 {
    padding-left: 0px;
  }
}