.bg_image_header{
    background-image: url('img/bg_header.png');
    background-size: cover;
   
    background-repeat: no-repeat;
    
}

.logo_header {
    width: 10.938rem;
    height: 2.438;
}
.header_menu {
    ul{
        display: flex;
        justify-content: space-between;
        gap:2rem;

        li {
            font-weight: 700;
            font-size: 0.813rem;
            color: #252525;
            transition: color 0.3s ease-in-out;
           position: relative;
            
            
          }
    
    }
}
.header_menu{
  
   ul li:hover {
      background-clip: text;
      background-image: linear-gradient(to bottom right, #3EED8B, #0A9949);
      color: transparent;
      transition: color 0.5s ease, background-image 0.5s ease;
    }
    
    }

.header_menu li::after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 0;
        width: 0;
        background-image: linear-gradient(to bottom right, #3EED8B, #0A9949)!important;
        transition: width 0.5s ease, height 0.5s ease;
      
    }
      
  @media (min-width: 1536px) {
      .header_menu 
      ul{
        li {
            font-size: 1rem;
            line-height:1.2rem;
        }
      }
  }
  

  
  

  @media (min-width: 1280px) {
    .header_menu li::after {
      bottom: -1rem;
      border-top-left-radius: 0.094rem;
      border-top-right-radius: 0.094rem;
      height: 0.188rem;
    }
  }
  
  .header_menu li:hover::after {
      width: 25%;
  }

  
.top-menu-expanded{
    position:absolute;
   
    z-index:50;
    right:0;
    padding-left: 1.563rem;
    background-color: white;
    display:flex;
    flex-direction: column;
    ul{
      li{
        padding: 1.25rem 0;
        border-bottom: 0.063rem inset;
        width: 100%;
      }
    }
    .phone_menu_header{
      width:100%;
      display:flex;
      justify-content: start;
      padding:0.625rem 0rem;
      border-bottom: 0.063rem inset;
    }
    
}



.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 49;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
}

.menu-expanded .menu-overlay {
  position:absolute;
  opacity: 1;
  visibility: visible;
  transition-delay: 0s; 
  width:100%;
  height:100vh;
}

  .shadow-text-res{
    box-shadow: 0rem 0.5rem 1rem 0rem #E5770959;

  }
  .button_text_hover:hover{
    box-shadow: 0rem 0.5rem 1rem 0rem #E5770959;

  }

.phone_shadow{
  box-shadow: 0rem 0.5rem 1rem 0rem #E5770959;

}
  .inside-circle-shadow{
    box-shadow: 0.25rem 0.375rem 1rem 0rem #00000059;

    .outside-circle-shadow{
      box-shadow: 0rem 0rem 1rem 0rem #00000059;

    }
  }
  .like_shadow{
    box-shadow: 0rem 0.5rem 2.5rem 0rem #00000026;

  }
  .border_gradient{
    border-image: linear-gradient(to right, #2891CC, #0A9949) 1;
  }
  .shadow_bottom_page{
    backdrop-filter: blur(12.5rem)

  }
  @media(min-width: 360px){
    .top-menu-expanded{
      top:5.063rem;
      width:100%
    }
  }
  @media(min-width: 768px){
    .top-menu-expanded{
      top:5.063rem;
      width:50%
    }
  }
  

 @media(max-width:1279px){
  .header{
   z-index:100!important;
    
  }
  .header_menu{
    ul{
      display:flex;
      flex-direction:column;
      gap:0px
    }
  }
 }
 .img_doctor_header img{
    width: 43rem;
    height: 43.188rem;
 }
 @media(max-width: 1919px){
  .img_doctor_header img{
    width: 38rem;
    height: 38.188rem;
 }
 }
 @media(max-width: 1279px){
  .img_doctor_header img{
    width: 30rem;
    height: 30.188rem;
 }
 }
 @media(max-width: 1023px){
  .img_doctor_header img{
    width: 24rem;
    height: 24.188rem;
 }
 }
 @media(max-width: 639px){
  .img_doctor_header img{
    width: 16rem;
    height: 16.188rem;
 }
 }
 .bg_banner_skew{
  perspective: 2000px;

 }
 .bg_banner_skew:before{
  position:absolute;
  content:'';
  width: 172%;
  height: 100%;
  
  left:0;
  transform: rotateY(45deg);
  z-index: -1;
  transform-origin: top left;
  background-image: linear-gradient(to right, #F4D03F, #16A085);
  border-top-right-radius: 3rem; 
  border-bottom-right-radius: 3rem;

 }
 .doctor_image_banner{
  img{
  transform: rotate(0deg) skewY(-8deg) scaleX(-1);
 }
 }
 .shadow_phone_banner{
  box-shadow: 0px 8px 16px 0px #21E27659;

 }
 .icon_shape__banner img{
  height: 17.188rem;
  width: 8.938rem;
 }
 @media(max-width:1919px){
  .icon_shape__banner img{
    height: 13.188rem;
    width: 6.938rem;
   }
   .bg_cus_service_skew:before {
      width:147%;
   }
 }
 @media(max-width:1535px){
  .bg_banner_skew:before{
   
    width: 140%;
   }
   .bg_cus_service_skew:before{
    width:140%;
   }
   
 }
 @media(max-width:1279px){
  .bg_banner_skew:before{
   
    width: 136%;
    transform: rotateY(27deg);
    
   }
   .doctor_image_banner{
    img{
    transform: rotate(0deg) skewY(-4deg) scaleX(-1);
   }
   }
 }
 @media(max-width:767px){
  .bg_banner_skew:before{
   
    width: 229%;
    height: 85%;
    transform: rotateY(27deg);
   }
   
   .doctor_image_banner{
    img{
    transform: rotate(0deg) skewY(-2deg) scaleX(-1);
   }
   }
 }

 @media(max-width:639px){
  .bg_banner_skew:before{
   
    width: 140%;
    height: 85%;
    transform: rotateY(27deg);
   }
   
   .doctor_image_banner{
    img{
    transform: rotate(0deg) skewY(-1deg) scaleX(-1);
   }
   }
 }
 ////

 .bg_cus_service_skew.right-0{
  perspective: 125rem!important;

 }
 .bg_cus_service_skew:before{
  position:absolute;
  content:'';
  width: 172%;
  height: 100%;
  
  right:0;
  transform: rotateY(-45deg);
  z-index: -1;
  transform-origin: top right;
  background-image: linear-gradient(to left, #F4D03F, #16A085);
  border-top-left-radius: 3rem; 
  border-bottom-left-radius: 3rem;

 }
 @media(min-width:360px){
  .bg_cus_service_skew {
    perspective: 2000px;
 }
}
.doctor_cus_service_img img{
  transform: skewY(8deg);
}
.shadow_cus_shape_service{
  box-shadow: 0px 8px 16px 0px #0A99494D;

}
@media(max-width:1919px){
  .bg_cus_service_skew:before {
    width:147%;
 }
}
@media(max-width:1279px){
  .bg_cus_service_skew:before {
    width:136%;
  transform: rotateY(-27deg);

 }
 .doctor_cus_service_img img {
  transform: skewY(3deg);
}
}

@media(max-width:767px){
  .bg_cus_service_skew:before {
    width:229%;
    height:85%;
 }
 
}
@media(max-width:640px){
  .bg_cus_service_skew:before {
    width:140%;
    height:85%;
 }
 .doctor_cus_service_img img {
  transform: skewY(1deg);
}
 
}
////swiper-slide-img_cus

.swiper-slide.swiper-slide-img-customer 
{
  .slide-img-cus_grid{
    .img_cus_items {
      img{
        width: 24.063rem!important;
        height:14.625rem!important;
        border-radius: 0.625rem!important;
        object-fit: cover!important;
      }
    }
  }
}
.img_cus_items img{
  width: 24.063rem!important;
  border-radius: 0.625rem!important;
  height:14.625rem!important;
}
.swiper-button-next:after, .swiper-button-prev:after {
  display:none!important;
}
.swiper-button-next.cus_img_next {
  width: 2.25rem;
  height:2.25rem;
  right: var(--swiper-navigation-sides-offset, 0px)!important;
}
.swiper-button-prev.cus_img_prev{
  width: 2.25rem;
  height:2.25rem;
  left: var(--swiper-navigation-sides-offset, 0px)!important;
}
.swiper-button-prev.cus_img_prev svg:hover{
  transition: fill 0.3s ease, border 0.3s ease, color 0.3s ease;
  circle{
    fill:#1eb05e;
    stroke:#1eb05e;
  }
  path{
    fill:#FFFFFF;

  }
}
.swiper-button-next.cus_img_next svg:hover{
  transition: fill 0.3s ease, border 0.3s ease, color 0.3s ease;
  circle{
    fill:#1eb05e;
    stroke:#1eb05e;
  }
  path{
    fill:#FFFFFF;
  }
}
.swiper-3d .swiper-slide-shadow {
  background: none!important;
}

@media(max-width:639px){
  .swiper-button-prev.cus_img_prev, .swiper-button-next.cus_img_next{
    width:1.75rem!important;
    height:1.75rem!important;
  }
}
:root {
  --swiper-pagination-bullet-width: 1.063rem;
  --swiper-pagination-bullet-height: 0.438rem;
  --swiper-pagination-bullet-background: #1eb05e;
  --swiper-pagination-bullet-border-radius: 0.219rem;
  --swiper-pagination-color: #1eb05e; 
  --swiper-pagination-bullet-active-width: 3.813rem!important;
}
.swiper-pagination-bullet {
  width: 1.063rem; 
  height: 0.438rem;
}
.swiper-pagination-bullet-active   {
  display: block;
  width: 3.813rem!important;
  width: var(--swiper-pagination-bullet-active-width) !important;
 
}
.swiper.swiper_img_customer.swiper_img_customer_container{
  height:46.875rem!important;
}
@media(max-width:1023px){
  .swiper-pagination{
    flex-direction:row;
    display:flex!important;
    justify-content:flex-start!important;
  }

}
@media(max-width:639px){
  .swiper.swiper_img_customer.swiper_img_customer_container{
    height:134.375rem!important;
  }

}

.trapezium_shape_img{
  clip-path: polygon(0 85%, 0 0%, 100% 0, 100% 94%);
  left: 14.813rem;
  position: absolute;
  bottom: 7.3%;
  width:34.938rem;
  height:47.25rem;

}
@media(max-width:1919px){
  .trapezium_shape_img{
    clip-path: polygon(0 84%, 0 0%, 100% 0, 100% 95%);
    left: 7rem;
    position: absolute;
    bottom: 9.7%;
    width: 29.438rem;
    height: 39.813rem;
  }
}
@media(max-width:1535px){
  .trapezium_shape_img{
    width: 25.438rem;
    height: 34.813rem;
    bottom: 10%;
    left: 4.813rem;
    clip-path: polygon(0 82%, 0 0%, 100% 0, 100% 95%);
  }
}

@media(max-width:1279px){
  .trapezium_shape_img {
    width: 16.438rem;
    height: 22.813rem;
    bottom: 9%;
    left: 6.813rem;
    clip-path: polygon(0 85%, 0 0%, 100% 0, 100% 95%);
}
}

@media (max-width: 1023px) {
  .trapezium_shape_img {
      width: 14.438rem;
      height: 19.813rem;
      bottom: 7.9%;
      left: 5.813rem;
      clip-path: polygon(0 86%, 0 0%, 100% 0, 100% 95%);

  }
}

@media (max-width: 767px) {
  .trapezium_shape_img {
      width: 12.438rem;
      height: 16.813rem;
      bottom: 8%;
      left: 4.813rem;
      clip-path: polygon(0 87%, 0 0%, 100% 0, 100% 95%);
  }
}
@media (max-width: 639px) {
  .trapezium_shape_img {
      width: 8.438rem;
      height: 11.813rem;
      bottom: 4.8%;
      left: 3.813rem;
      clip-path: polygon(0 84%, 0 0%, 100% 0, 100% 94%);
  }
}
.bg_cus_ques img{
  height: 68.063rem;
}
@media (max-width: 1279px) {
  .bg_cus_ques img{
    height: fit-content;
  }
}

@media (max-width: 639px) {
  .bg_cus_ques img{
    height: 15.625rem;
  }
}


.bg_shape_procedure{ 
 perspective: 125rem!important;

}

 .bg_shape_procedure:before{
  border-radius: 7.5rem;
  margin: 0 auto;
  position: absolute;
  content: '';
  width: 76%;
  height: 120%;
  transform: rotateX(-150deg);
  z-index: 10;
  background-image: linear-gradient(to left, #F4D03F, #16A085);
 }
 .bg_shape_procedure:after{
  z-index: 10;
  top: 4.063rem;
  border-radius: 7.5rem;
  margin: 0 auto;
  position: absolute;
  content: '';
  width: 66%;
  height: 106%;
  transform: rotateX(-150deg);
  z-index: -1;
  background: linear-gradient(90deg, rgba(22, 160, 133, 0.15) 0%, rgba(244, 208, 63, 0.15) 100%);

 }

 ////shape items procedure


/* @media(min-width:360px){
  .shape_items_procedure{
    
    
   
    clip-path: path("M113.5 6.00624C97.7389 6.00624 82.3894 4.26655 67.6253 0.976929C58.8428 -0.984191 49.9812 3.96606 46.9113 12.4273L1.14744 138.587C-2.42885 148.425 3.12546 159.29 13.2214 162.058C45.1706 170.772 78.7815 175.438 113.484 175.438C148.187 175.438 181.813 170.772 213.747 162.058C223.859 159.306 229.397 148.44 225.837 138.587L180.073 12.4273C177.003 3.96606 168.141 -0.984191 159.359 0.976929C144.595 4.26655 129.261 6.00624 113.5 6.00624Z")!important;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.2); 
    
}


} */
 @media(min-width: 640px){
  .shape_items_procedure{
    
    
 
    clip-path: path("M113.5 6.00624C97.7389 6.00624 82.3894 4.26655 67.6253 0.976929C58.8428 -0.984191 49.9812 3.96606 46.9113 12.4273L1.14744 138.587C-2.42885 148.425 3.12546 159.29 13.2214 162.058C45.1706 170.772 78.7815 175.438 113.484 175.438C148.187 175.438 181.813 170.772 213.747 162.058C223.859 159.306 229.397 148.44 225.837 138.587L180.073 12.4273C177.003 3.96606 168.141 -0.984191 159.359 0.976929C144.595 4.26655 129.261 6.00624 113.5 6.00624Z")!important;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.2); 
  }

 }
 .shape_items_procedure{
    
    
 
  clip-path: path("M113.5 6.00624C97.7389 6.00624 82.3894 4.26655 67.6253 0.976929C58.8428 -0.984191 49.9812 3.96606 46.9113 12.4273L1.14744 138.587C-2.42885 148.425 3.12546 159.29 13.2214 162.058C45.1706 170.772 78.7815 175.438 113.484 175.438C148.187 175.438 181.813 170.772 213.747 162.058C223.859 159.306 229.397 148.44 225.837 138.587L180.073 12.4273C177.003 3.96606 168.141 -0.984191 159.359 0.976929C144.595 4.26655 129.261 6.00624 113.5 6.00624Z")!important;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.2); 
}



 .shape_container_procedure{
  rotate: 18deg;
  transition: 0.5s;
  transform: rotate(calc(-360deg/10 * var(--i)));
  transform-origin: 27.125rem;
 }

 @media(max-width: 1919px){
  .bg_shape_procedure:before{
    height: 111%;
    
   }
   .bg_shape_procedure:after{
    
    height: 102%;
   
   }

 }
 @media(max-width: 1535px){
  .bg_shape_procedure:before{
   width:95%;
    
   }
   .bg_shape_procedure:after{
    
    width:85%;
   
   }

 }

 @media(max-width:1023px){
  .bg_shape_procedure:before{
    transform:rotateX(-160deg);
     
    }
    .bg_shape_procedure:after{
     
     transform: rotateX(-160deg);
    
    }

    .shape_container_procedure {
      rotate: 90deg;
      transition: 0.5s;
      transform: rotate(calc(-360deg / 5* var(--i)));
      transform-origin: 18.125rem;
  }
 }
 @media (max-width: 767px) {
  .shape_container_procedure {
      rotate: 180deg; 
      transition: none; 
      transform: none; 
      transform-origin: initial; 
  }
  .bg_shape_procedure:before{
    transform:rotateX(-172deg);
     
    }
    .bg_shape_procedure:after{
     
     transform: rotateX(-172deg);

    
    }
    .text_step_one{
      transform: rotateX(180deg);
    }
    .text_step_one_title{
      transform: rotateX(180deg);
      rotate: 180deg;

    }
    .text_step_two{
      transform: rotateY(180deg);
      rotate:180deg;
    }
    .text_step_two_title{
      transform: rotateY(180deg);

      
    }
    .text_step_four{
      rotate: 180deg;
    }
}
/* @media(max-width:639px){
  .shape_items_procedure{
    width:11.938rem;
    height:11.063rem;
    clip-path: path("M152.959 0.0158691H18.7534C8.24609 0.0158691 -0.0458469 8.98325 0.792841 19.4531C5.0654 72.6406 20.2884 122.744 44.2305 167.502C49.1835 176.754 60.9885 179.775 69.8184 174.113L182.756 101.599C190.431 96.6801 193.121 86.8429 189.229 78.603C180.003 59.1341 173.689 38.0205 170.825 15.8314C169.654 6.80071 162.042 0.0158691 152.959 0.0158691Z");
  }
} */
@media (max-width: 639px) {
  .shape_container_procedure {
      rotate: 180deg; 
       transform:scale(0.77);
       left: -10%;
  }
  .bg_shape_procedure:after {
   
    top: 3.3rem;
    border-radius: 4.5rem;
  }
  .bg_shape_procedure:before {
   
    border-radius: 4.5rem;
  }
  
}